:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --color: #353430;
  --color-rec: transparent;
  --corner-color: #353430;
  --text-color-title: #FFC2E6;
  --text-color-label: #353430;
  --bg-color-text: #FF8DCB;
  --section-text-color: #353430;
  --accent-color: #FF8DCB;
  --button-color: #353430;
}
@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --color: #353430;
  --color-rec: transparent;
  --corner-color: #353430;
  --text-color-title: #FFC2E6;
  --text-color-label: #353430;
  --bg-color-text: #FF8DCB;
  --section-text-color: #353430;
  --accent-color: #FF8DCB;
  --button-color: #353430;
  }
}